/* Apply global font settings to all elements */
* {
  font-family: "Quicksand", sans-serif; /* Default font */
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}

/* Heading styles for h1 and h2 */
h1, h2 {
    font-family: 'Times New Roman', Times, serif; /* Serif font for headings */
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "GRAD" 0;
}

/* Body layout using CSS Grid */
body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto; /* Header, main, footer */
    margin: 0;
    min-height: 100vh;
    height: 100%;
}

/* Course title banner styling */
#course-title {
    padding: 10px 0 10px 0;
    display: block;
    background-color: rgb(7, 44, 123);
    color: lightgray;
    text-align: center;
    align-content: center;
    height: 50px;
    font-size: 25px;
} 

/* Navigation bar styling */
nav {
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #4c5f79;
}

/* Navigation links */
nav a {
    color: lightgray;
    text-decoration: none;
}

/* Hover effect for navigation links */
nav a:hover {
    color: rgb(19, 155, 67);
    text-decoration: underline overline;
    text-decoration-color: rgb(7, 44, 123);
    text-underline-offset: 5px;
}

/* Center align main heading */
h1 {
    text-align: center;
}

/* Section heading (h2) styling */
h2 {
    font-size: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 44, 123);
    border-radius: 5px 5px 0 0;
    margin-top: 0px;
    color: lightgray;
}

/* Main container width and alignment */
main {
    max-width: 1500px;
    justify-self: center;
}

/* Grid layout for main content */
#main{
    display: grid;
    grid-template-columns: 7fr 4fr; /* Main content and sidebar */
    grid-template-rows: auto;
    box-sizing: border-box;
    padding: 15px;
    gap: 10px;
}

/* Card container styling */
.card {
    background-color: rgba(250, 250, 223, 0.872);
    border: 4px outset;
    border-radius: 10px;
}

/* First card layout */
#card1 {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 2fr 200px;
}

/* Card 1 heading spans full width */
#card1 h2 {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-bottom: 0px;
}

/* Biography text section */
#bio {
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: 18px;
    padding-left: 15px;
    padding-top: 10px;
}

/* Profile image styling */
#profile {
    grid-column: 2/3;
    grid-row: 2/5;
    width: 150px;
    height: auto;
    justify-self: right;
    padding-right: 20px;
    padding-top: 20px;
}

/* Harare section layout */
#harare {
    grid-row: 4/5;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto auto;
    padding: 0px;
}

/* Harare image container */
#harareimage {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    gap: 0px;
    padding: 25px;
}

/* Harare image styling */
#harareimage img {
    width: 100%;
    height: min-content;
    justify-self: center;
}

/* Harare image caption */
#harareimagedescription {
    font-size: 15px;
    font-style: italic;
    margin-top: 2px;
    text-align: center;
}

/* Harare description text */
#hararedescription {
    grid-column: 2/3;
    font-size: 18px;
}

/* Subheading inside card 1 */
#card1 h3 {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
    margin: 10px 0px 0px 0px;
    font-weight: 600;
    font-size: 20px;
    text-decoration: underline overline rgb(9, 80, 128) 2px;
    text-underline-offset: 5px;
}

/* Second card layout */
#card2 {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content auto;
}

/* List styling inside card 2 */
#card2 ul {
    padding-left: 35px;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Individual list items */
#card2 li {
    padding: 0px;
    flex: 1;
}

/* Links inside card 2 */
#card2 a {
    text-decoration: underline 1px rgb(7, 44, 123);
    color: black;
}

/* Footer styling */
footer {
    background-color: rgb(7, 44, 123);
    color: lightgray;
    display: block;
    text-align: center;
    height: 75px;
}

/* Current year text */
#currentyear {
    margin-bottom: 5px;
}

/* Last modified date text */
#lastModified {
    margin-top: 5px;
    font-size: 13px;
    font-weight: 400;
}
